S3method(adatao.aggregate,formula)
export(DDFManager)
export(adatao.aggregate.formula)
export(adatao.fivenum)
export(adatao.head)
export(adatao.sample)
export(adatao.sample2ddf)
export(adatao.sql)
export(adatao.sql2ddf)
export(shutdown)
exportClasses(DDF)
exportClasses(DDFManager)
exportMethods("[")
exportMethods(adatao.aggregate)
exportMethods(colnames)
exportMethods(ncol)
exportMethods(nrow)
exportMethods(summary)
import(rJava)
import(stringr)
