export(DDFManager)
export(adatao.sql)
export(adatao.sql2ddf)
export(shutdown)
exportClasses(DDF)
exportClasses(DDFManager)
exportMethods(colnames)
exportMethods(ncol)
exportMethods(nrow)
exportMethods(summary)
import(rJava)
import(stringr)
